* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background: #3e738e;
}

.container {
	width: 60%;
	height: 100vh;
	margin: 0 auto;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	background-color: #fff;
}

h1 {
	font-size: 1.5em;
	margin-top: 2em;
}

form {
	margin-bottom: 2em;
	margin: 15px
}

label {
	display: block;
	margin-bottom: 0.5em;
}

input[type="text"] {
	padding: 0.5em;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 1em;
}

button[type="submit"],
.calcular button,
#fazendo-conta {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 0.5em;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

#fazendo-conta {
	width: 60%;
	margin: 10px;
}

.calcular button {
	background-color: rgb(255, 0, 0);
	margin: 5px;
}

.calcular button:hover {
	background-color: #ff3d3d;
}

button[type="submit"]:hover {
	background-color: #3e8e41;
}

#lista-produtos {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	border: 1px solid #000;
	list-style: none;
	margin: 10px;
	padding: 5px 0px;
	border-radius: 5px;
}

li {
	cursor: pointer;
	padding: 2px;
}

li:hover {
	background-color: #b9b9b9;
}

.area-paralela {
	display: flex;
	width: 60%;
	justify-content: space-around;
	padding: 5px;
	margin: 5px;
}

#paralela-area {
	display: none;
}

#paralela {
	background-color: #3e738e;
	color: #fff;
}